/* Colors
Midnight Blue #002347
Orange #FF8E00
*/
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 16px;
}

body {
  margin: 0 auto;
  font-family: "Ubuntu Mono", monospace;
  background-color: #ff8e00;
}

section {
  position: relative;
}

nav {
  width: 100%;
  background-color: #002347;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  border-bottom: 3px solid #ff8e00;
}
nav .link-container {
  display: flex;
  flex-direction: row;
}
nav .nav-button-link {
  font-size: 1.1rem;
  color: #ff8e00;
  text-decoration: none;
  padding: 15px 0;
  font-weight: 800;
}
nav .nav-button-link:hover {
  background-color: #ff8e00;
  color: #002347;
}
nav .nav-button-link:hover .nav-bracket {
  opacity: 100%;
  transition: opacity 0.2s;
}
nav .nav-button-link .nav-bracket {
  font-size: 1.3rem;
  opacity: 0%;
}

.about-section {
  width: 100%;
  height: 700px;
  background-color: #ff8e00;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-section .about-container {
  height: 275px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  text-align: center;
}
.about-section .about-container .about-title,
.about-section .about-container .about-info {
  color: #002347;
  margin: 0px;
}
.about-section .about-container .about-title {
  font-size: 2rem;
}
.about-section .about-container .about-info {
  font-size: 1.6rem;
}
.about-section .about-photo-container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.about-section .about-photo-container .about-photo {
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
  margin-top: -50px;
  border: 3px solid #002347;
  opacity: 1;
}
.about-section .about-photo-container .img-top {
  opacity: 0;
  position: absolute;
}
.about-section .about-photo-container:hover .img-top {
  opacity: 1;
  transition: opacity 0.4s;
}
.about-section .about-photo:hover {
  opacity: 0;
  transition: opacity 0.4s;
}
.about-section .about-photo {
  opacity: 1;
  transition: opacity 0.4s;
}

.about-photo-caption-container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #002347;
}

.about-photo-text,
.about-photo-text-desktop {
  margin-top: -5px;
  font-size: 1.8rem;
}

.about-photo-text-desktop {
  display: none;
}

.section-scroller,
.scroller,
.scroller-up {
  color: #002347;
  text-decoration: none;
}

.section-scroller {
  font-size: 0.8rem;
}

.portfolio-section {
  width: 100%;
  background: #002347;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.portfolio-section .portfolio-intro-container .portfolio-title,
.portfolio-section .portfolio-outro-container .portfolio-title {
  font-size: 1.8rem;
  padding-top: 50px;
  color: #ff8e00;
}
.portfolio-section .portfolio-intro-container .portfolio-title i,
.portfolio-section .portfolio-outro-container .portfolio-title i {
  font-size: 1.8rem;
}
.portfolio-section .portfolio-card {
  width: 90%;
  display: flex;
  flex-direction: column;
  background: #ff8e00;
  margin: 30px 0px;
  padding: 5px 10px;
  border-radius: 10px;
}
.portfolio-section .portfolio-card .portfolio-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10;
}
.portfolio-section .portfolio-card .portfolio-image {
  width: auto;
  height: auto;
  max-width: 300px;
  margin: 5px 0px;
  border: 2px solid #002347;
}
.portfolio-section .portfolio-card .card-text-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.portfolio-section .portfolio-card .card-text-container .portfolio-card-text {
  border-top: 2px solid #002347;
  border-bottom: 2px solid #002347;
}
.portfolio-section .portfolio-card .card-text-container .portfolio-container-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.portfolio-section .portfolio-card .card-text-container .portfolio-card-title,
.portfolio-section .portfolio-card .card-text-container .portfolio-card-text,
.portfolio-section .portfolio-card .card-text-container .portfolio-card-link {
  margin: 5px 0px;
  color: #002347;
}
.portfolio-section .portfolio-card .card-text-container .portfolio-card-title {
  font-size: 2rem;
}
.portfolio-section .portfolio-card .card-text-container .portfolio-card-text,
.portfolio-section .portfolio-card .card-text-container .portfolio-card-link {
  font-size: 1.6rem;
}
.portfolio-section .portfolio-card .card-text-container .portfolio-card-link {
  text-decoration: none;
}
.portfolio-section .portfolio-card .card-text-container .fa-spin-hover:hover {
  animation: fa-spin 0.7s ease-in-out;
  transform: scale(1.1);
}

.section-scroller-contact {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.scroller-contact {
  color: #ff8e00;
}

.contact-section {
  background: #ff8e00;
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}
.contact-section .contact-title {
  font-size: 2.2rem;
  margin-bottom: 5px;
}
.contact-section .contact-text {
  font-size: 1.6rem;
  font-style: italic;
  margin-top: 5px;
}
.contact-section .contact-title,
.contact-section .contact-text {
  color: #002347;
}
.contact-section .contact-links-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: left;
  margin-top: 25px;
}
.contact-section .contact-link {
  font-size: 1.6rem;
  text-decoration: none;
  color: #002347;
}
.contact-section footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: #002347;
  color: #ff8e00;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-style: italic;
  padding: 5px 0px 15px 0px;
}
.contact-section .section-scroller-about {
  position: absolute;
  bottom: 25px;
  margin-bottom: 10px;
}

.scroller-blue {
  color: #002347;
}

@media screen and (max-width: 450px) {
  .contact-title {
    font-size: 2rem;
    margin-bottom: 5px;
  }
  .contact-text {
    font-size: 1.4rem;
    font-style: italic;
    margin-top: 5px;
  }
  .nav-button-link {
    font-size: 1.1rem;
    padding: 10px 0;
  }
  .nav-bracket {
    font-size: 1rem;
  }
}
@media screen and (min-width: 700px) {
  nav {
    justify-content: flex-end;
  }
  .nav-button-link {
    font-size: 1.6rem;
    padding: 0px;
  }
  .about-section, .contact-section {
    height: 900px;
  }
  .portfolio-section {
    height: auto;
  }
  .about-container {
    height: 350px;
  }
  .about-photo {
    width: auto;
    height: auto;
    min-width: 500px;
    min-height: 500px;
  }
  .about-photo-text {
    display: none;
  }
  .about-photo-text-desktop {
    display: block;
    font-size: 1.6rem;
  }
  .about-title {
    font-size: 2.4rem;
  }
  .about-info {
    font-size: 1.6rem;
  }
  .portfolio-card {
    min-width: 650px;
    max-width: 1000px;
  }
  .portfolio-image {
    height: auto;
    width: 90%;
    min-width: 500px;
    min-height: 500px;
    max-width: 900px;
    max-height: 900px;
  }
  .portfolio-card-title,
.portfolio-title {
    font-size: 2.4rem;
  }
  .portfolio-card-text,
.portfolio-card-link {
    font-size: 1.6rem;
  }
  .portfolio-outro-container {
    padding-bottom: 100px;
  }
  .contact-links-container {
    flex-direction: row;
  }
  .contact-link {
    margin: 0px 10px;
  }
  .contact-title {
    font-size: 3rem;
  }
  .contact-text {
    font-size: 1.8rem;
  }
  .scroller-contact, .section-scroller-contact {
    position: absolute;
    bottom: 10px;
  }
  .fa-bounce-hover:hover {
    animation: fa-bounce 0.5s ease-in-out;
  }
}

/*# sourceMappingURL=style.css.map */
