/* Colors
Midnight Blue #002347
Orange #FF8E00
*/

* {
    box-sizing: border-box;
}

body {
    font-size: 10px;
    margin: 0 auto;
    font-family: 'Ubuntu Mono', monospace;
}

.nav-bar {
    width: 100vw;
    background-color: #002347;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between; /* Media query this too use flex-end on desktop */
    position: fixed;
    top: 0px;
    left: 0px;
}

.links-container {
    display: flex;
    flex-direction: row;
}

.nav-button-links {
    margin: 5px 10px;
    font-size: 1.6rem;
    color: #FF8E00;
    text-decoration: none;
}

.nav-button-links:hover { /*Add more button stuff in here to animate (Scale ?) */
    background-color: #FF8E00;
    color: #002347;
}

.nav-icon {
    visibility: hidden;
}

.nav-button-links:hover .nav-icon {
    visibility: visible;
}

@media screen and (min-width: 700px) {
    .nav-bar {
        justify-content: flex-end;
        padding: 5px 10px 5px 10px;
    }
}