/* Colors
Midnight Blue #002347
Orange #FF8E00
*/
$primary-blue: #002347;
$primary-orange: #ff8e00;

@mixin flexRow {
  display: flex;
  flex-direction: row;
}

@mixin flexCenteredCol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 16px;
}

body {
  margin: 0 auto;
  font-family: "Ubuntu Mono", monospace;
  background-color: $primary-orange;
}

section {
  position: relative;
}

nav {
  width: 100%;
  background-color: $primary-blue;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  border-bottom: 3px solid $primary-orange;
  .link-container {
    @include flexRow;
  }
  .nav-button-link {
    font-size: 1.3rem;
    color: $primary-orange;
    text-decoration: none;
    padding: 15px 0;
    &:hover {
      background-color: $primary-orange;
      color: $primary-blue;
      .nav-bracket {
        opacity: 100%;
        transition: opacity 0.2s;
      }
    }
    .nav-bracket {
      font-size: 1.3rem;
      opacity: 0%;
    }
  }
}

.about-section {
  width: 100%;
  height: 700px;
  background-color: $primary-orange;
  @include flexCenteredCol;
  .about-container {
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    .about-title,
    .about-info {
      color: $primary-blue;
      margin: 0px;
    }
    .about-title {
      font-size: 2rem;
    }

    .about-info {
      font-size: 1.4rem;
    }
  }
  .about-photo-container {
    position: relative;
    display: flex;
    flex-direction: column;
    .about-photo {
      width: auto;
      height: auto;
      max-width: 300px;
      max-height: 300px;
      border-radius: 50%;
      margin-top: -50px;
      border: 3px solid $primary-blue;
      opacity: 1;
    }
    .img-top {
      opacity: 0;
      position: absolute;
    }
  }
  .about-photo-container:hover .img-top {
    opacity: 1;
    transition: opacity 0.4s;
  }
  
  .about-photo:hover {
    opacity: 0;
    transition: opacity 0.4s;
  }
  
  .about-photo {
    opacity: 1;
    transition: opacity 0.4s;
  }
}

.about-photo-caption-container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $primary-blue;
}

.about-photo-text,
.about-photo-text-desktop {
  margin-top: -5px;
  font-size: 1.8rem;
}

.about-photo-text-desktop {
  display: none;
}





.section-scroller,
.scroller,
.scroller-up {
  color: $primary-blue;
  text-decoration: none;
}

.section-scroller {
  position: absolute;
  font-size: 0.8rem;
  bottom: 5px;
}

.portfolio-section {
  width: 100%;
  background: $primary-blue;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .portfolio-intro-container,
  .portfolio-outro-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    .portfolio-title {
      margin: 50px 0px;
      font-size: 1.6rem;
      color: $primary-orange;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      i {
        font-size: 1.6rem;
      }
    }
  }
  .portfolio-card {
    width: 65%;
    display: flex;
    flex-direction: column;
    background: $primary-orange;
    margin: 30px 0px;
    padding: 5px 10px;
    border-radius: 5px;
    .portfolio-image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      .portfolio-image {
        width: auto;
        height: auto;
        max-height: 250px;
        max-width: 250px;
        margin: 5px 0px;
        border: 2px solid $primary-blue;
      }
    }
    .card-text-container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      .portfolio-card-text {
        border-top: 2px solid $primary-blue;
        border-bottom: 2px solid $primary-blue;
      }
      .portfolio-container-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .portfolio-card-title,
      .portfolio-card-text,
      .portfolio-card-link {
        margin: 5px 0px;
        color: $primary-blue;
      }
      .portfolio-card-title {
        font-size: 1.4rem;
      }
      .portfolio-card-text,
      .portfolio-card-link {
        font-size: 1.2rem;
      }
      .portfolio-card-link {
        text-decoration: none;
      }
      .fa-spin-hover:hover {
        animation: fa-spin 0.7s ease-in-out;
        transform: scale(1.1);
      }
    }
  }
}

.section-scroller-contact {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.scroller-contact {
  color: $primary-orange;
}

.contact-section {
  background: $primary-orange;
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  .contact-title {
    font-size: 2.2rem;
    margin-bottom: 5px;
  }

  .contact-text {
    font-size: 1.6rem;
    font-style: italic;
    margin-top: 5px;
  }

  .contact-title,
  .contact-text {
    color: $primary-blue;
  }
}

.contact-links-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 25px;
}

.contact-link {
  font-size: 1.6rem;
  text-decoration: none;
  color: #002347;
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: $primary-blue;
  color: $primary-orange;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-style: italic;
  padding: 5px 0px 15px 0px;
}

.section-scroller-about {
  position: absolute;
  bottom: 25px;
  margin-bottom: 5px;
}

.scroller-blue {
  color: $primary-blue;
}

@media screen and (max-width: 450px) {
  .contact-title {
    font-size: 2rem;
    margin-bottom: 5px;
  }

  .contact-text {
    font-size: 1.4rem;
    font-style: italic;
    margin-top: 5px;
  }

  .nav-button-link {
    font-size: 1.3rem;
    padding: 10px 0;
  }

  .nav-bracket {
    font-size: 1rem;
  }
}

@media screen and (min-width: 700px) {
  nav {
    justify-content: flex-end;
  }

  .nav-button-link {
    font-size: 1.6rem;
    padding: 0px;
  }

  .about-section {
    height: 100vh;
  }

  .about-container {
    height: 350px;
  }

  .about-photo {
    width: auto;
    height: auto;
    min-width: 500px;
    min-height: 500px;
  }

  .about-photo-text {
    display: none;
  }

  .about-photo-text-desktop {
    display: block;
    font-size: 1.6rem;
  }

  .about-title {
    font-size: 2.4rem;
  }

  .about-info {
    font-size: 1.6rem;
  }

  .portfolio-card {
    width: 700px;
  }
  .portfolio-image {
    height: auto;
    width: auto;
    min-width: 500px;
    min-height: 500px;
  }

  .portfolio-card-title,
  .portfolio-title {
    font-size: 2.4rem;
  }

  .portfolio-card-text,
  .portfolio-card-link {
    font-size: 1.6rem;
  }

  .contact-section {
    height: 100vh;
  }

  .contact-links-container {
    flex-direction: row;
  }

  .contact-link {
    margin: 0px 10px;
  }

  .contact-title {
    font-size: 3rem;
  }

  .contact-text {
    font-size: 1.8rem;
  }

  .fa-bounce-hover:hover {
    animation: fa-bounce 0.5s ease-in-out;
  }
}
